<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    stopOnError="false"
    syntaxCheck="false"
    addUncoveredFilesFromWhitelist="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src/const.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>
